*
{
    margin: 0;
    padding: 0;
}

body
{
    padding: 0 60px;
}

.logo
{
    font-family: 'Pacifico', cursive;
}

.claer{
    clear: both;
}
.container
{
    /* padding: 0 70px; */
    /* margin: 0 auto; */
}

.header
{
    margin: 20px 0;
}

.header li
{
    color: #ef501d;
    list-style: none;
    display: inline;

}

.header li
{
    margin: 0 30px;
}

.burger img
{
    display: none;
}

.header li:first-of-type
{
    margin: 0;
}

.right
{
    float: right;
    margin-left: auto;
    display: block;
}

.main
{
   display: flex;
}

.main div:nth-of-type(1)
{
    width: 60%;
}

.main div p 
{
    margin-top: 20px;
    color: #acaafe;
}

.main div p:nth-of-type(1)
{
    text-transform: uppercase;
    color: #5653fd;
    font-size: 3rem;
    margin-top: 100px;
    vertical-align: middle;
}

.main div:nth-of-type(2)
{
    width: 40%;
    position: relative;
}

.main div:nth-of-type(2) img
{
    position: absolute;
    right: -1em;
}

.main div button
{
    all : unset;
    margin-top: 80px;
    background-color: #5653fd;
    padding: 10px 60px;
    border-radius: 3px;
    color: #fff;
}


@media(max-width: 992px)
{
    /* body{background-color: yellow;} */
    .header 
    {
        height: 33px;
        overflow: hidden;
        position: fixed;
        top: -20px;
        width: calc(100% - 120px);
    }

    .header ul
    {
        background-color: white;
        position: relative;
        top: 0;
    }
    
    .logo
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header li
    {
        display: block;
        margin: 10px 0;
        height: 1.8em;
    }

    .right
    {
        all:initial;
    }

    .burger img
    {
        display: block;
        width: 33px;
    }
    
    .main
    {
        display: initial;
    }

    .main div
    {
        width: 100% !important;
        margin: 0 auto;
    }

    .main div:nth-of-type(2) img
    {
        position: unset;
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}

@media (max-width: 576px) 
{ 
    body{
        padding: 0 40px;
    }

     .main div p:nth-of-type(1)
    {
        font-size: 2rem;
        margin-top: 70px;
    }

    .main div p:nth-of-type(2)
    {
        font-size: 1rem;
    }

    .main div button
    {
        margin-top: 80px;
        width: calc(100% - 160px);
        text-align: center;
    }
}
