*
{
    margin: 0;
    padding: 0;
}

body
{
    padding: 0 60px;
}

.logo
{
    font-family: 'Pacifico', cursive;
}

.claer{
    clear: both;
}
.container
{
    /* padding: 0 70px; */
    /* margin: 0 auto; */
}

.header
{
    margin: 20px 0;
}

.header li
{
    color: #ef501d;
    list-style: none;
    display: inline;

}

.header li
{
    margin: 0 30px;
}

.burger img
{
    display: none;
}

.header li:first-of-type
{
    margin: 0;
}

.right
{
    float: right;
    margin-left: auto;
    display: block;
}

.main
{
   display: flex;
   margin-top: 50px;
}

.main div:nth-of-type(1)
{
    width: 60%;
}

.main div p 
{
    margin-top: 20px;
    color: #acaafe;
}

.main div p:nth-of-type(1)
{
    text-transform: uppercase;
    color: #5653fd;
    font-size: 3rem;
    margin-top: 100px;
    vertical-align: middle;
}

.main div:nth-of-type(2)
{
    width: 40%;
    position: relative;
}

.main div:nth-of-type(2) img
{
    position: absolute;
    right: -1em;
}

.main div button
{
    all : unset;
    margin-top: 80px;
    background-color: #5653fd;
    padding: 10px 60px;
    border-radius: 3px;
    color: #fff;
}


@media(max-width: 992px)
{
    
    .header
    {
        margin: 10px 0;
        height: 33px;
        overflow: hidden;
    }

    .header
    {
        position: relative;
    }
    
    .logo
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header li
    {
        display: block;
        margin: 10px 0;
        height: 1.8em;
    }

    .right
    {
        all:initial;
    }

    .burger img
    {
        display: block;
        width: 33px;
    }
    
    .main
    {
        display: initial;
    }

    .main div
    {
        width: 100% !important;
        margin: 0 auto;
    }

    .main div:nth-of-type(2) img
    {
        position: initial;
        width: 70%;
    }
}

@media (min-width: 576px) 
{ 
    
}
